/* app/globals.css */
@import "tailwindcss";

@theme {
  /* Mendaftarkan Font */
  --font-serif: var(--font-noto-serif), serif;
  --font-sans: var(--font-poppins), sans-serif;

  /* Mendaftarkan Warna dari Figma */
  --color-cssmora-blue: #0082c6;
  --color-cssmora-green: #79ba4e;
  --color-cssmora-darkgreen: #2a411b; /* Untuk teks di dalam badge hijau */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
  /* Memberikan jarak offset agar section tidak tertutup Header fixed saat di-scroll */
  scroll-padding-top: 100px;
}